:root {
    --footerBlue: #BAC7D7;
    --black: #040506;
    --hoverBg: #FFF8EB;
}



.footerMainCon {
    width: 100%;
}

@media (min-width: 1024px) {
    .footerMainCon {
        display: flex;
    }
}

.blueBgCon {
    background: var(--footerBlue);
    padding: 2em 0;
    padding-top: 4em;
}

@media (min-width: 1024px) {
    .blueBgCon {
        width: 70%;
    }
}


.blackBgCon {
    background-color: var(--black);
    padding: 4em;
}

@media (min-width: 1024px) {
    .blackBgCon {
        width: 30%;
    }
}

.blueInnerDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

.mobC{
    margin-top: 1em;
    display: flex;
    gap: 1em;
}

@media (min-width: 768px) {
    .blueInnerDiv {
        display: block;
    }

    .mobC{
        margin-top: 0;
    }
}

@media (min-width: 768px) {
    .blueInnerDiv h2 {
        font-weight: 500;
        font-size: 2.5em;
        padding: 0.5em 0;
    }
}

@media (min-width: 768px) {
    .blueInnerDiv div {
        display: flex;
        align-items: center;
        gap: 2em;
    }
}



@media (min-width: 768px) {
    .blueInnerDiv a {
        padding: 0.8em 2em;
        font-size: 1em;
    }

    .blueInnerDiv p {
        font-weight: 400;
        font-size: 0.8em;
    }
}


.footerTaglineD {
    margin-top: 7em;
    display: none;
    gap: 4em;
}

.footerTaglineD p {
    font-weight: 300;
    font-size: 0.7em;
}

@media (min-width: 1024px) {
    .footerTaglineD{
        display: flex;
    }
}



.blackBgCon nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5em;
}


@media (min-width: 768px) {
    .blackBgCon nav {
        justify-content: space-between;
        gap: 1.2em;
        text-align: right;
    }
}

@media (min-width: 1024px) {
    .blackBgCon nav {
        flex-direction: column;
        align-items: flex-end;
    }
}

.blackBgCon nav a {
    text-decoration: none;
    color: white;
    font-size: small;
}



.btnCon {
    display: flex;
    gap: 1em;
    align-items: center;
}

.blackBgCon div {
    margin: 2em 0;
    margin-top: 4em;
    display: flex;
    gap: 2em;
    justify-content: center;
}

@media (min-width: 1024px) {
    .blackBgCon div {
        justify-content: flex-end;
    }
}